/* Global Layout Set-up */

/* WEB FONTS */

* {
	margin: auto 0;
}

input, textarea {
  max-width:100%
}

@font-face {
    font-family: 'momstypewriterregular';
    src: url('fonts/Moms_typewriter-webfont.eot');
    src: url('fonts/Moms_typewriter-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Moms_typewriter-webfont.woff') format('woff'),
         url('fonts/Moms_typewriter-webfont.ttf') format('truetype'),
         url('fonts/Moms_typewriter-webfont.svg#momstypewriterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Global Layout Set-up */

* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Rokkitt', serif;
  font-size: 16px;
  color: #9c979c;
  background: rgb(212,238,231);
  line-height: 1.6;
  }
/* Link Styles */



.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
   
    
}
ul li a:link{
	background-color: transparent;
    color:#9c979c;
    font-size: 16px
    
}


.navbar ul li a {
	background-color: transparent;
	color: #9F9B9D;
	
}




.navbar ul li a:hover
{
	background-color: transparent;
	border-bottom: 1px solid  #facd75;
	padding-bottom: .5px;
	color: #facd75;
	
}




/* Section Styles */

.navbar-brand {
	font-size: 1em;
	float: left;
	background-color: transparent;

}






header {
  text-align: center;
  background: linear-gradient(to top,  #d7eee4,transparent 100%),
  url('./images/ typewriter.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  background-size: 100% 100%;
 
 
 }
span {
	color: #facd75;
}

header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}

header .profile-image:hover {
  transform: scale(1.5) rotate(695deg);
}
.tag {
  background-color:#87be9b;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
  font-size: 1.5em;
  font-family: 'momstypewriterregular';  
  
} 



.location {
  background-color:#eb514c;
  color: #fff;
  font-size: 14px;
  
  
}


.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 10px solid #ccc;
  border-radius: 16px;
  transition: all .5s;
  
}

h2 {
	font-family: 'Rokkitt', serif;
	font-size: 1.5em;
}

 

.card:hover {
  border-color: #87be9b;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #87be9b;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #eb514c;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}












/*---------ABOUT PAGE STYLES---------------- */


#wrapper 
 {
	background-image: none;
	display: none;
}

.work {
  background-color:#87be9b;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
  font-size: 1.5em;
  font-family: 'momstypewriterregular';  
  
} 



.project {
max-width: 100%;
	height: 100%;
}

main h2 {
	text-align: center;
	
}

.cardTwo {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
 border-bottom: 10px solid #ccc;
  border-radius: 16px;
  transition: all .5s;

  
}

.cardTwo:hover {
  border-color: #87be9b;
}

a:visited {
	color: #8AC5A3
}
<<<<<<< HEAD

a {
	color:  #9F9B9D;
	
}

a:hover {
  color: #facd75;
}


=======
>>>>>>> origin/master

a {
	color:  #9F9B9D;
	
}

a:hover {
  color: #facd75;
}




.cardTwo h2 {
	font-family:'Rokkitt', serif;
	font-weight: 500;
	font-size: 1em;

}

a .cardTwo h2:hover {
	color: #8AC5A3;
}

.cardTwo p {
	text-align: center;
}


.img-container {
  max-height: 392.538px;
  overflow-y: scroll;
}



/*---------CONTACT STYLES---------------- */

.cardTwo h2 {
	font-family:'Rokkitt', serif;
	font-weight: 500;
	font-size: 1em;

}

a .cardTwo h2:hover {
	color: #8AC5A3;
}

.cardTwo p {
	text-align: center;
}


.img-container {
  max-height: 392.538px;
  overflow-y: scroll;
}



/*---------CONTACT STYLES---------------- */


.cardThree {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 1000px;
  text-align: left;
  border-bottom: 4px solid #ccc;
  border-radius: 16px;
  transition: all .5s;
  margin-top: 10px;
  color: #fff;
  background-color: rgb(138,197,163);
}



.info {
	font-size: 16px;
	font-family: 'momstypewriterregular'; 
	text-align: left;
}

.details {
	font-size: 16px;
	font-family: 'momstypewriterregular'; 
	text-align: left;
}


.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
	color: #fff;
	
}



.contact-info a {
	
	display: block;
	min-height: 0px;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
	
	
	
}



.contact-info li.phone a{
	background-image: url('./images/phone.png');
	color: #fff;
	
	
	
}

.contact-info li.mail a {
	background-image: url('./images/mail.png');
	color: #fff;
	
}



img {
	width: 100%;
	
}


/*---------Let's head back up---------------- */

.cardThree a {
	color: #fff;
	
}

.cardThree a:hover{
	color: #facd75;
	
}

/* Styles for larger screens */


@media screen and (min-width: 720px) {
  

  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }
  
  .navbar-brand {
	font-size: 3em;
}



.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
   
    
}



 
.nav>li {
  position: relative;
  display: inline-block;
}

.location {
  font-size: 1em;
  
  
}



  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }
  
  

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
  
  
  
/*   EXPERIENCE STYLE  */

.cardTwo {
	background-color: #fff;
	display: inline-block;
	vertical-align: top;
	margin: 20px 20px 20px;
	
	
}

.cardThree {
	
	color: gray;
	clear: both;
	margin: 0 auto;
	color: #fff;
	background-color: #87be9b;
	
	
}

.details {
	font-size: 16px;
	font-family: 'momstypewriterregular'; 
	text-align: left;
}


.pageTwo {
	margin: 0 auto;
}



}



